/* 기존 로그인 스타일 */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.login-form {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #606b71;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}

.start-survey-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.start-survey-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.start-survey-button {
  background-color: #606b71;
  color: white;
  border: none;
  padding: 15px 30px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.3s;
}

.start-survey-button:hover {
  background-color: #0056b3;
  transform: scale(1.02);
}

.survey-instructions {
  margin-top: 20px;
  text-align: left;
  padding: 20px;
  border: 3px solid #606b71;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.survey-instructions p {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  margin: 0 0 10px 0;
  text-align: center;
}

.survey-instructions ul {
  list-style-type: disc;
  padding-left: 20px;
}

.survey-instructions ul li {
  /* font-weight: bold; */
  color: #333;
  margin: 20px 0;
  font-size: 20px;
}

.highlight {
  font-weight: bold;
  color: rgb(225, 91, 91);
}
