.survey-legend {
  background-color: #f9f9f9;
  border: 2px solid #d9dfe3;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 400px; /* 최대 너비를 조정합니다 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.survey-legend h2 {
  margin-bottom: 30px;
  font-size: 25px;
  color: rgb(225, 91, 91);
  text-align: center;
}

.legend-columns {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* 두 열 사이의 거리를 조정합니다 */
}

.survey-legend ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.survey-legend ul li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.survey-legend .legend-title {
  font-weight: bold;
  color: rgb(225, 91, 91);
}

.survey-legend .sub-category {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 5px;
}

.survey-legend .sub-category li {
  font-size: 18px;
  color: #555;
}

.survey-legend ul li:last-child {
  margin-bottom: 0;
}
