.survey-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}

.survey-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #606b71;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.survey-form {
  width: 100%;
}

.radio-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.radio-buttons label {
  display: flex;
  align-items: center;
  background-color: #e3e2e2;
  border-radius: 10px;
  padding: 5%;
}

.radio-buttons input[type="radio"] {
  margin-right: 5px;
}

.submit-button,
.next-button,
.previous-button {
  display: inline-block;
  width: 30%;
  padding: 12px;
  margin: 5px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button {
  background-color: #606b71;
}

.submit-button:hover {
  background-color: #0056b3;
}

.next-button {
  background-color: #606b71;
}

.next-button:hover {
  background-color: #45a049;
}

.previous-button {
  background-color: #606b71;
}

.previous-button:hover {
  background-color: #e41e26;
}

.radio-buttons .positive {
  background-color: #af1e1e;
}

.navigation-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.survey-progress {
  font-size: 20px;
  margin-bottom: 10px;
  color: #323436;
  text-align: center;
}

.survey-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.survey-buttons-container button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 50px;
  text-align: center;
}

.survey-buttons-container button.completed {
  background-color: #4caf50;
  color: white;
}

.survey-buttons-container button:hover:not(.completed) {
  background-color: #9e9e9e;
}

.alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 18px;
  text-align: center;
  opacity: 0.9;
}
